___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [10]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
      return min(a,b)
    else:
      return max(a,b)

In [11]:
# Check
lesser_of_two_evens(2,4)

2

In [12]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [19]:
def animal_crackers(text):
  list = text.lower().split()
  return list[0][0] == list[1][0]

In [21]:
# Check
animal_crackers('levelheaded Llama')

True

In [22]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [5]:
def makes_twenty(n1,n2):

    return n1 == 20 or n2 == 20 or (n1+n2) == 20

In [7]:
# Check
makes_twenty(20,10)

True

In [6]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [8]:
def old_macdonald(name):
  #namelist=[]
  #for i in range(len(name)):
  #  if i == 0:
  #    namelist.append(name[i].upper())
  #  elif i == 3:
  #    namelist.append(name[i].upper())
  #  else:
  #    namelist.append(name[i].lower())
  #return ''.join(namelist)

  firstpart = name[:3]
  secondpart = name[3:]

  return firstpart.capitalize() + secondpart.capitalize()

In [9]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    sentencelist = text.split()
    sentencelist.reverse()
    return ' '.join(sentencelist)

In [ ]:
# Check
master_yoda('I am home')

'home am I'

In [ ]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [15]:
def almost_there(n):
    #return n in range(89,111) or n in range(189,211)

    return (abs(100-n) <= 10 or abs(200-n) <= 10)

In [19]:
# Check
almost_there(104)

True

In [17]:
# Check
almost_there(150)

False

In [18]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [29]:
def has_33(nums):
  #counter = 0
  #for int in nums:
  #  if nums[counter] == 3:
  #    if nums[counter+1] == 3:
  #      return True
  #    else:
  #      return False
  #  counter = counter +1

  for i in range(0,len(nums)-1):
    if nums[i] == 3 and nums[i+1] == 3:
      return True
  return False

In [30]:
# Check
has_33([1, 3, 3])

True

In [31]:
# Check
has_33([1, 3, 1, 3])

False

In [32]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [72]:
def paper_doll(text):
  result = ''
  for letter in text:
    result += letter*3
  return result

In [73]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [74]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [79]:
def blackjack(a,b,c):
    #sumvar = a+b+c
    #if sumvar > 21:
    #  if 11 in [a,b,c]:
    #    return sumvar - 10
    #  else:
    #    return "BUST"
    #else:
    #  return sumvar

    if sum([a,b,c]) <= 21:
      return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10 <= 21:
      return sum([a,b,c])-10
    else:
      return "BUST"

In [80]:
# Check
blackjack(5,6,7)

18

In [81]:
# Check
blackjack(9,9,9)

'BUST'

In [84]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [85]:
def summer_69(arr):
  total = 0
  add = True

  for number in arr:
    while add:
      if number != 6:
        total += number
        break
      else:
        add = False
    while not add:
      if number != 9:
        break
      else:
        add = True
        break
  return total

In [86]:
# Check
summer_69([1, 3, 5])

9

In [87]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [88]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [114]:
def spy_game(nums):
  #list = []
  #for number in nums:
  #  if number == 0 or number == 7:
  #    list.append(number)
  #return list == [0, 0, 7]

  list = [0, 0, 7, "x"]

  for number in nums:
    if number == list[0]:
      list.pop(0)
  return len(list) == 1

In [115]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [116]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [117]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [164]:
def count_primes(num):
    result = 0
    resultlist = []
    for number in range(2,num+1):
      testno = number
      counter = 0
      for testcase in range(2,testno+1):
        if testno % testcase == 0:
          counter += 1
      if counter == 1:
        result += 1
        resultlist.append(number)
    print(str(result)+" prime numbers")
    print(resultlist)

In [165]:
# Check
count_primes(100)

25 prime numbers
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [108]:
def print_big(letter):
    dictionary= {"A":"  *  \n * * \n*****\n*   *\n*   *","B":"***  \n*  * \n**** \n*   *\n**** ","C":"  ***\n *   \n*    \n *   \n  ***","D":"***  \n*  * \n*   *\n*  * \n***  ","E":"*****\n*    \n**** \n*    \n*****"}
    print(dictionary[letter.upper()])

In [113]:
print_big('A')

  *
 * *
*****
*   *
*   *

## Great Job!